body.bg-gradient {
    background: linear-gradient(135deg, #084aef, #753a88);
    color: #db1111;
    min-height: 100vh;
}

.table thead {
    background-color: rgba(255, 255, 255, 0.1);
    color: #d4c9c9;
}

.table tbody tr {
    background-color: rgba(255, 255, 255, 0.05);
}

input, select, textarea {
    color: #000;
}
