.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 1rem;
}

.table th,
.table td {
    padding: 12px 18px;
    border: 1px solid rgba(207, 199, 199, 0.781);
    text-align: left;
    vertical-align: middle;
    color: #9c1919;
}

.table thead {
    background-color: rgba(226, 80, 80, 0.1);
    color: #ddd0d0;
    font-weight: bold;
}

.table tbody tr:nth-child(even) {
    background-color: rgba(253, 0, 0, 0.05);
}

.table tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 0.2s ease;
}

.table a {
    color: #4da8ff;
    text-decoration: none;
    margin: 0 4px;
}

.table a:hover {
    text-decoration: underline;
}
