<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baixa de Estoque</title>

    <script>
        function toggleInput(checkbox, index) {
            const campo = document.getElementById('quantidade_' + index);
            campo.Disabled = !checkbox.checked;
            if (!checkbox.checked) campo.value = '';
        }
    </script>
</head>
<body>
    <h1>Baixa de estoque</h1>

    <button><a href="/">Voltar para Home</a></button>

    <form method="POST">
        {% if produtos %}
            <table border="1" cellpadding="5">
                    <tr>
                        <th>Selecionar</th>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Marca</th>
                        <th>Qtd Atual</th>
                        <th>Qtd para Baixa</th>
                        <th>V. Unitário</th>
                    </tr>
                    {% for p in produtos %}
                    <tr>
                        <td>
                            <input type="checkbox" name="produtos_selecionados" value="{{p.id}}" onclick="toggleInput(this, {{ loop.index0 }})">
                        </td>
                        <td>{{ p.id }}</td>
                        <td>{{ p.nome }}</td>
                        <td>{{ p.marca }}</td>
                        <td>{{ p.quantidade }}</td>
                        <td>
                            <input type="number" name="quantidade_{{ p.id }}" id="quantidade_{{ loop.index0 }}" min="1" max="{{ p.quantidade }}" disabled required>
                        </td>
                        <td>R$ {{ "{:,.2f}".format(p.v_u).replace(",", "X").replace(".", ",").replace("X", ".") }}</td>
                    </tr>
                    {% endfor %}
            </table><br>
            <input type="submit" value="Baixar Selecionados">
        {% else %}
            <p>Nenhum produto em estoque para dar baixa.</p>
        {% endif %}
    </form>

</body>
</html>