{% extends "base.html" %}

{% block content %}
<h2>Histórico de Movimentações - {{ produto.nome }} ({{ produto.marca }})</h2>

<table border="1">
    <thead>
        <tr>
            <th>Tipo</th>
            <th>Quantidade</th>
            <th>Data</th>
            <th>Usuário</th>
        </tr>
    </thead>
    <tbody>
        {% for m in historico %}
        <tr>
            <td>{{ m.tipo }}</td>
            <td>{{ m.quantidade }}</td>
            <td>{{ m.data.strftime('%d/%m/%Y %H:%M') }}</td>
            <td>{{ m.usuario.usuario }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{{ url_for('home') }}">← Voltar</a>
{% endblock %}
