<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movimentações</title>
</head>
<body>
    {% extends 'base.html' %}
{% block content %}
<h2>Histórico de Movimentações</h2>

<table>
    <thead>
        <tr>
            <th>Produto</th>
            <th>Tipo</th>
            <th>Quantidade</th>
            <th>Usuário</th>
            <th>Data</th>
        </tr>
    </thead>
    <tbody>
        {% for mov in movimentacoes %}
        <tr>
            <td>{{ mov.produto.nome }}</td>
            <td>{{ mov.tipo }}</td>
            <td>{{ mov.quantidade }}</td>
            <td>{{ mov.usuario.usuario }}</td>
            <td>{{ mov.data.strftime('%d/%m/%Y %H:%M') }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

</body>
</html>