
    {% extends 'base.html' %}
{% block content %}
<h2>Movimentar Produto: {{ produto.nome }}</h2>

<form method="POST">
    <label for="tipo">Tipo:</label>
    <select name="tipo" id="tipo" required>
        <option value="entrada">Entrada</option>
        <option value="saida">Saída</option>
    </select>

    <label for="quantidade">Quantidade:</label>
    <input type="number" name="quantidade" id="quantidade" min="1" required>

    <button type="submit">Confirmar</button>
</form>

<a href="{{ url_for('home') }}">Voltar</a>
{% endblock %}
